@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
body{
    background: url('background.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.text{
    font-size: 26px;
    font-family: 'Tilt Neon', cursive;
}
.text2{
        font-size: 50px;
        font-family: 'Tilt Neon', cursive;
        color: blue;
}
.img1{
    width: 500px;
}